<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update</title>
</head>
<body>
    <form th:action="@{/update/{id}(id=${user.id})}" method="post" th:object="${user}">
        <input type="hidden" name="_method" value="put"/>
        <label for="id">ID</label></br>
        <input type="number" id="id" name="id" readonly th:value="${user.id}"></br>
        <label for="name">NAME</label></br>
        <input type="text" id="name" name="name" th:value="${user.name}"></br>
        <label for="degree">DEGREE</label></br>
        <input type="text" id="degree" name="degree" th:value="${user.degree}"></br></br>
        <input type="submit" value="Update Form">
        <a th:href="@{/view}">View Data</a>
    </form>
</body>
</html>
